@import 'https://fonts.googleapis.com/css?family=Roboto';

body{
    font-family: 'Roboto', sans-serif;
    background: #C8F7C5;
    margin: 0px;
    padding: 0px;
}

.map{
    margin-bottom: 30px;
}

.navbar{
    margin-bottom: 0px!important;
}

.row {
	margin: 0px !important;;
}

.col-sm-6 {
	margin: 0px !important;
	padding: 0px !important;
}

.chart{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    display: table;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 1px 1px;
}